* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: #ffe81f;
  font-family: "Press Start 2P", cursive;
}
@media (max-width: 40em) {
  html {
    font-size: 50.5%;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 25.5%;
  }
}

body {
  max-width: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
  max-width: 50%;
}
.header img {
  margin: auto;
  width: 60%;
  padding: 10px;
  max-height: 400px;
}

.bg-video {
  padding: 3rem;
}
.bg-video__content {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

ul {
  counter-reset: index;
  padding: 0;
  width: 60%;
  font-size: 4rem;
  color: #fff;
}

/* List element */
li {
  counter-increment: index;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 0.3s;
  line-height: 1.2;
}
li:hover {
  color: #ffe81f;
}

/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 4rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: -webkit-gradient(linear, left top, left bottom, from(aquamarine), to(orangered));
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 2rem;
}

/* Element separation */
li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: sans-serif;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  background-color: rgba(147, 201, 38, 0.8);
  width: 100%;
  padding: 15px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  max-width: 650px;
  margin: auto;
  border-radius: 2rem;
  border: 0px solid #fcfcfc;
  padding: 15px;
  -webkit-border-image: url(none) 30 stretch;
  /* Safari 3.1-5 */
  -o-border-image: url(none) 30 stretch;
  /* Opera 11-12.1 */
  border-image: url(none) 30 stretch;
}
@media (max-width: 41em) {
  .modal-content {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.modal-content .details {
  flex: 0 0 50%;
  margin-left: 1.5rem;
  align-self: center;
}
.modal-content .details ul {
  color: #000;
  list-style: none;
}
.modal-content .details ul li {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}
.modal-content .details ul li span {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 1rem;
}
.modal-content .details ul li::before {
  display: none;
}

.modal-close {
  font-size: 20px;
  font-weight: 700;
  color: #201e1e;
  font-size: 20px;
  transition: all 0.2s;
  cursor: pointer;
  width: auto;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.modal-close:hover {
  color: #ffe81f;
}

.modal-img {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  border: 0.2rem solid #000;
  width: 50%;
}
.modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.modal-text {
  text-align: center;
  color: #ffffff;
}

.modal-text h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: Lato;
}

.modal-text p {
  font-size: 17px;
  margin-top: -15px;
  margin-bottom: 50px;
  font-family: Lato;
}

.modal-footer {
  padding: 20px 30px;
  color: rgba(255, 255, 255, 0.5);
  width: auto;
  background-color: #3b3b3b;
  margin: -15px;
}

input[type=text].modal-input {
  color: rgba(0, 0, 0, 0.5);
  width: 80%;
  background: white;
  border: none;
  border-radius: 3px;
  outline: rgba(0, 0, 0, 0.5) none 0px;
  padding: 15px;
}

input[type=submit].modal-submit-btn {
  padding: 14px;
  font-size: 14px;
  background-color: #3bb4f5;
  color: #ffffff;
  width: auto;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: -13px;
}

@media screen and (max-width: 27em) {
  input[type=text].modal-input {
    width: 90%;
    margin-bottom: 0px;
  }

  input[type=submit].modal-submit-btn {
    width: 90%;
  }

  .modal-text p {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
