ul {
  counter-reset: index;
  padding: 0;
  width: 60%;
  font-size: 4rem;
  color: #fff;
}

/* List element */
li {
  counter-increment: index;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 0.3s;
  line-height: 1.2;
  &:hover {
    color: #ffe81f;
  }
}

/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 4rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(aquamarine),
    to(orangered)
  );
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 2rem;
}

/* Element separation */
li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
